! term name
! Urxvt.termName: rxvt-256color
Urxvt.termName: rxvt-unicode

! tabs
URxvt*perl-ext-common: default,tabbedex

URxvt.keysym.Control-Shift-N: perl:tabbedex:new_tab
URxvt.keysym.Control-Shift-K: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-J: perl:tabbedex:prev_tab

URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab
URxvt.keysym.Control-Shift-H: perl:tabbedex:move_tab_left
URxvt.keysym.Control-Shift-L: perl:tabbedex:move_tab_right

URxvt*tabbedex.tabbar-fg: 15
URxvt*tabbedex.tabbar-bg: 236
URxvt*tabbedex.tab-fg: 110
URxvt*tabbedex.tab-bg: 236

URxvt*tabbedex.transparent: true
URxvt*tabbedex.new-button: false

! font
! URxvt*font: xft:Dank Mono:style=Regular:size=14:pixelsize=16:antialias=true
! URxvt*font: xft:Berkeley Mono:style=Regular:size=16:pixelsize=16:antialias=true
URxvt*font: xft:Berkeley Mono:style=Regular:size=16:pixelsize=16:antialias=true,xft:Symbols Nerd Font:style=Regular:size=16

! URxvt*letterSpace: 0

! border
URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 3

! scrollbar
URxvt*scrollBar: false

! lines
URxvt*saveLines: 5000

! ! OLD
! ! special 
! *.foreground:   #c5c8c6 
! *.background:   #1d1f21 
! *.cursorColor:  #c5c8c6 
!
! ! black 
! *.color0:       #282a2e 
! *.color8:       #373b41 
!
! ! red 
! *.color1:       #a54242 
! *.color9:       #cc6666 
!
! ! green 
! *.color2:       #8c9440 
! *.color10:      #b5bd68 
!
! ! yellow 
! *.color3:       #de935f 
! *.color11:      #f0c674 
!
! ! blue 
! *.color4:       #5f819d 
! *.color12:      #81a2be 
!
! ! magenta 
! *.color5:       #85678f 
! *.color13:      #b294bb 
!
! ! cyan 
! *.color6:       #5e8d87 
! *.color14:      #8abeb7 
!
! ! white 
! *.color7:       #707880 
! *.color15:      #c5c8c6

! special
! URxvt.background: #1E1E2E
! URxvt.foreground: #CDD6F4
! URxvt.cursorColor: #F5E0DC
!
! ! black
! URxvt.color0: #45475A
! URxvt.color8: #585B70
!
! ! red
! URxvt.color1: #F38BA8
! URxvt.color9: #F38BA8
!
! ! green
! URxvt.color2: #A6E3A1
! URxvt.color10: #A6E3A1
!
! ! yellow
! URxvt.color3: #F9E2AF
! URxvt.color11: #F9E2AF
!
! ! blue
! URxvt.color4: #89B4FA
! URxvt.color12: #89B4FA
!
! ! magenta
! URxvt.color5: #F5C2E7
! URxvt.color13: #F5C2E7
!
! ! cyan
! URxvt.color6: #94E2D5
! URxvt.color14: #94E2D5
!
! ! white
! URxvt.color7: #BAC2DE
! URxvt.color15: #A6ADC8
!

! *.internalBorder: 15
*.scrollBar: False

! special
*.foreground:   #d6deeb
*.background:   #011627
*.cursorColor:  #d6deeb

! black
*.color0:       #011627
*.color8:       #575656

! red
*.color1:       #ef5350
*.color9:       #ef5350

! green
*.color2:       #22da6e
*.color10:      #22da6e

! yellow
*.color3:       #addb67
*.color11:      #ffeb95

! blue
*.color4:       #82aaff
*.color12:      #82aaff

! magenta
*.color5:       #c792ea
*.color13:      #c792ea

! cyan
*.color6:       #21c7a8
*.color14:      #7fdbca

! white
*.color7:       #ffffff
*.color15:      #ffffff

!! URxvt Appearance
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.internalBorder: 8 
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.urgentOnBell: true
URxvt.depth: 8 
URxvt.iso14755: false
